Repository adrian-codecov/another-test: changes, and which Codecov flags are due for each by the changed paths.
All: words, mafs

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
    flag_regexes: # List. Flags to be included in the component.
      - "test-flag-456"
  individual_components:
    - component_id: module_words
      name: words # this is a display name, and can be changed freely
      paths:
        - words/**
    - component_id: module_mafs
      name: mafs # this is a display name, and can be changed freely
      paths:
        - mafs/**
      flag_regexes: # List. Flags to be included in the component.
        - "test-flag-*"

asdf
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
Due: none

whatever
  mafs/mafs.test.js
Due: mafs

fahfa
  mafs/mafs.test.js
Due: mafs

Add base report to main
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
Due: none

heh
  README.md
Due: none

afasdf
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  flag2/words.js
Due: none

fahf
  README.md
  folder/words.js
Due: none

changing and covering words.js with test, should be 100%
  flag2/words.js
  flag2/words.test.js
Due: none

asdf
  README.md
Due: none

Added file change w/ coverage + readme change
  README.md
  flag2/words.js
  flag2/words.test.js
Due: none

add new covered file
  flag3/words.js
  flag3/words.test.js
Due: none

add files
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
Due: none

asdf
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  flag4/words.js
  flag4/words.test.js
Due: none

newwww
  flag4/words.js
  flag4/words.test.js
Due: none

afasdf
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/flag4/index.html
  coverage/lcov-report/another-test/flag4/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
Due: none

afsdf
  README.md
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
Due: none

random commit
  README.md
Due: none

failing test PR
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  flag2/words.test.js
Due: none

change tests again
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  flag1/mafs.test.js
  flag3/words.test.js
  folder/words.test.js
Due: none

another time
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  mafs/mafs.test.js
  words/words.test.js
Due: words, mafs

add a junitxml report
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/index.html
  coverage/lcov-report/sorter.js
  junit.xml
  package-lock.json
  package.json
Due: none

another attempt
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
Due: none

only readmy
  README.md
Due: none

reamde only
  README.md
Due: none

file with changes
  words/words.js
  words/words.test.js
Due: words

readme + coverable files with changes
  README.md
  words/words.js
  words/words.test.js
Due: words

remove code
  words/words.js
  words/words.test.js
Due: words

remove test
  words/words.test.js
Due: words

readme
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/index.html
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: none

le prasd
  words/words.test.js
Due: words

another
  README.md
Due: none

correct test
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  words/words.js
Due: words

another another
  README.md
Due: none

asdfadfsasd
  README.md
Due: none

another le testing
  README.md
Due: none

anfo
  README.md
Due: none

ne report
  README.md
Due: none

neeeeew
  coverage/clover.xml
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/flag3/index.html
  coverage/lcov-report/another-test/flag3/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
Due: none
