Repository adrian-codecov/another-test: changes, and which Codecov flags are due for each by the changed paths.
All: words, mafs

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
    flag_regexes: # List. Flags to be included in the component.
      - "test-flag-456"
  individual_components:
    - component_id: module_words
      name: words # this is a display name, and can be changed freely
      paths:
        - words/**
    - component_id: module_mafs
      name: mafs # this is a display name, and can be changed freely
      paths:
        - mafs/**
      flag_regexes: # List. Flags to be included in the component.
        - "test-flag-*"

asfdasdfasdf
  mafs/mafs.js
Due: mafs

hjfkidfjvhgfkdfjv
  mafs/mafs.js
Due: mafs

bngjmfkv
  mafs/mafs.js
Due: mafs

bhfjidfkvjn
  mafs/mafs.js
Due: mafs

bnvcm
  mafs/mafs.js
Due: mafs

fhjaksdf
  mafs/mafs.js
Due: mafs

fjaksdf
  mafs/mafs.js
Due: mafs

random commit
  mafs/mafs.js
Due: mafs

fhjdkjhj
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/another-test/flag1/index.html
  coverage/lcov-report/another-test/flag1/mafs.js.html
  coverage/lcov-report/another-test/flag2/index.html
  coverage/lcov-report/another-test/flag2/words.js.html
  coverage/lcov-report/another-test/folder/index.html
  coverage/lcov-report/another-test/folder/subfolder/index.html
  coverage/lcov-report/another-test/folder/subfolder/mafs.js.html
  coverage/lcov-report/another-test/folder/subfolder/words.js.html
  coverage/lcov-report/another-test/folder/words.js.html
  coverage/lcov-report/another-test/index.html
  coverage/lcov-report/another-test/mafs/index.html
  coverage/lcov-report/another-test/mafs/mafs.js.html
  coverage/lcov-report/another-test/temples/index.html
  coverage/lcov-report/another-test/temples/temples.js.html
  coverage/lcov-report/another-test/words.js.html
  coverage/lcov-report/another-test/words/index.html
  coverage/lcov-report/another-test/words/words.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  flag1/mafs.js
  flag1/mafs.test.js
  mafs/mafs.js
Due: mafs

fhjaksdf
  flag1/mafs.test.js
Due: none

fahsjdfhj
  codecov.yml
Due: none

fashfjaa
  flag1/mafs.test.js
Due: none

nvcmj vhj
  mafs/mafs.js
Due: mafs

no required bundle changes
  codecov.yml
Due: none

hjkdfv
  mafs/mafs.js
Due: mafs

fjhasdf
  mafs/mafs.js
Due: mafs

remove the require setting
  codecov.yml
Due: none

add flag + cff yaml settings
  codecov.yml
  frontend/frontend.js
  frontend/frontend.test.js
Due: none

abhjsndbfj
  coverage/lcov-report/another-test/frontend/frontend.js.html
  coverage/lcov-report/another-test/frontend/index.html
  package.json
Due: none

hjrkejdnfh
  frontend/frontend.js
Due: none

random addition
  frontend/frontend.js
  frontend/frontend.test.js
Due: none

ahjkfa
  words/words.js
Due: words

hjaksdf
  frontend/frontend.test.js
Due: none

hf
  flag2/words.test.js
Due: none

fjkajn
  flag1/mafs.js
Due: none

ahjf
  coverage/lcov-report/frontend.js.html
  flag1/mafs.test.js
Due: none

hjaksdf
  flag1/mafs.test.js
Due: none

hajafj
  frontend/frontend.js
Due: none

fjk
  frontend/frontend.js
Due: none

haf
  frontend/frontend.js
Due: none

jajsdfh
  frontend/frontend.js
Due: none

fashj
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/frontend.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  frontend/frontend.js
Due: none

hjaksdf
  frontend/frontend.js
Due: none

fhajs
  frontend/frontend.js
Due: none

fghjdf
  frontend/frontend.js
Due: none

ajsdf
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/mafs.js.html
  coverage/lcov.info
  frontend/frontend.js
Due: none

hello
  frontend/frontend.js
Due: none

fhjkda
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/frontend.js.html
  coverage/lcov-report/mafs.js.html
  coverage/lcov-report/words.js.html
  coverage/lcov.info
  frontend/frontend.js
Due: none

fjaksdf
  frontend/frontend.js
Due: none

hjafhj
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/frontend.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/mafs.js.html
  coverage/lcov.info
  frontend/frontend.js
Due: none
